.jumbotron{
    color:white;
    background-image: url("https://images.unsplash.com/photo-1567450133695-72d4fbe4bd33?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    border: none;
   margin: 0px;
}
.jumbo-container{
    width: 100%;
}

.col-1 {
    background-color: #E9E4E0;
    display: flex;
    justify-content: end;
}

.col-10 {
    display: flex;

    justify-content: space-around;
    align-items: center;
}
.card-set{
    display: flex;
    justify-content: space-between;
}