{% extends "layout.html" %}
{% block title %} Home {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block hero %}
<div class="jumbo-container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Website</h1>

        </div>
    </div>
</div>
{% endblock %}
{% block content %}

<div class="container">
    <div class="row">

        <div class="col-1">
        </div>
        <div class="col-10">
            <table class="table table-">
                <thead class="thead-dark">
                    <tr>
                        <th>Place</th>
                        <th>Holder</th>
                        <th>Table</th>
                    </tr>

                    <tr>
                        <td>I</td>
                        <td>Need</td>
                        <td>content</td>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="col-1">

        </div>
    </div>
</div>
{% endblock %}