{% extends "layout.html" %}
{% block title %} Home {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block hero %}
<div class="jumbo-container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Website</h1>

        </div>
    </div>
</div>
{% endblock %}
{% block content %}

<div class="container">
    <div class="row">

        <div class="col-1">
        </div>
        <div class="col-10">
            <img src="/static//Images/filler.png" alt="">
            <button id="loadCountries">Load Countries</button>
        </div>
        <div class="col-1">
        </div>
    </div>
</div>
<script src="static/js/main.js"></script>
{% endblock %}